<div class="text-xs top-1 text-right pr-2">
    V9.0
</div>

@if (sneakers.length>0) {
    <div class="pb-24">
        <div class="flex p-4 space-x-6">
            <h1 class="font-bold text-2xl">Sneaker List</h1>
            <app-reload-page></app-reload-page>
        </div>

        <app-group-filter (filterChange)="onFilterChange($event)"></app-group-filter>

        <!-- Search Button -->
        <div class="px-6 py-2 relative space-x-2">
                <div class="relative w-full">
                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                        <svg aria-hidden="true" class="w-5 h-5 text-gray-400" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                        </svg>
                    </div>
                    <input
                        type="text"
                        [(ngModel)]="searchTerm"
                        (change)="onSearch(searchTerm)"
                        class="text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 bg-gray-700 border-gray-600 placeholder-gray-400 text-white"
                        placeholder="Search"
                    >
                </div>
        </div>

        <app-sneaker-group
            [sneakers] = "filteredSneakers"
            [activeFilter] ="activeFilter"
        ></app-sneaker-group>

        <div class="pt-8 flex justify-center">
            <button
            (click)="exportData()"
            class="bg-blue-600 whitespace-nowrap hover:bg-blue-800 font-medium rounded-lg text-sm px-3 py-2.5">
                Download Data
            </button>
        </div>
    </div>
}
@else {
    <div class="py-8 px-4 mx-auto max-w-screen-xl mt-40 text-center lg:py-16 lg:px-12">
        <h1 class="mb-4 text-2xl font-semibold">
            Add your first pair of shoes by clicking '+' button
        </h1>
    </div>
}

<app-add-sneaker></app-add-sneaker>




<!-- <h2 class="font-bold text-xl p-4 flex items-center justify-between">
    All Sneakers ({{sneakers.length}})
    <button
      (click)="toggleActive()"
      class="focus:outline-none">
      <svg
        [class.rotate-180]="!isActive"
        class="w-5 h-5 transition-transform duration-200"
        fill="currentColor"
        viewBox="0 0 20 20">
        <path
          fill-rule="evenodd"
          d="M5.293 9.707a1 1 0 011.414 0L10 13.414l3.293-3.707a1 1 0 011.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
          clip-rule="evenodd">
        </path>
      </svg>
    </button>
</h2>
<div *ngIf="isActive" class="m-2 pb-4">
    @for(sneaker of sneakers; track sneaker){
        <div class="p-2">
            <a [routerLink]="'/sneaker-detail/' + sneaker.id">
                <app-sneaker-card [sneaker]="sneaker"></app-sneaker-card>
            </a>
        </div>
    }
</div> -->