<div class="text-xs fixed top-1 right-2">
    V2.3
</div>

@if (sneakers.length>0) {
    <h1 class="  font-bold text-2xl p-4">Sneaker List</h1>
    <h2 class="  font-bold text-xl p-4">Active ({{sneakers.length}})</h2>
    <div class="m-2 pb-16">
        @for(sneaker of sneakers; track sneaker){
            <a [routerLink]="'/sneaker-detail/' + sneaker.id">
                <app-sneaker-card [sneaker]="sneaker"></app-sneaker-card>
            </a>
        }
    </div>
}
@else {
    <div class="py-8 px-4 mx-auto max-w-screen-xl mt-40 text-center lg:py-16 lg:px-12">
        <h1 class="mb-4 text-2xl font-semibold  ">
            Add your first pair of shoes by clicking '+' button
        </h1>
    </div>
}

<app-reload-page></app-reload-page>
<app-add-sneaker></app-add-sneaker>





