<app-back-icon></app-back-icon>

<div class="p-4 pt-16 px-12 text-xl">
  <div class="flex justify-between items-center">
    <input
      [(ngModel)]="sneaker.brand"
      (change)="updateSneaker()"
      class="font-extrabold bg-transparent max-w-[12rem]"
    />
    <h2 class="text-right text-sm">Purchased:</h2>
  </div>
  <div class="flex justify-between items-center">
    <input
      [(ngModel)]="sneaker.model"
      (change)="updateSneaker()"
      class="font-extrabold bg-transparent max-w-[12rem]"
    />
    <input
      [(ngModel)]="sneaker.purchasedDate"
      (change)="updateSneaker()"
      class="text-sm bg-transparent max-w-[5rem]"
    />
  </div>
</div>

<!-- Circular Progress and Counters -->
<div class="flex items-center justify-center space-x-4 pt-4">
  <app-circle-progress [percentage]="percentage">
    <div class="mt-4 text-base flex items-center justify-center space-x-2">
      <span>Distance (KM) : &nbsp;{{ sneaker.currentDistance }} &nbsp; /</span>
      <input
        type="text" 
        inputmode="numeric"
        pattern="[0-9]*"
        class="flex-shrink-0 rounded-xl bg-transparent max-w-[2rem] text-center focus:border"
        [(ngModel)]="sneaker.targetDistance"
        (change)="targetDistance()"
        required
      />
    </div>
  </app-circle-progress>

  <div class="flex flex-col space-y-4">
    <!-- Usage Counter -->
    <div class="flex flex-col items-center space-y-1">
      <label class="text-sm font-medium mb-2">Usage Count :</label>
      <div class="flex items-center space-x-4">
        <button
          type="button"
          id="decrement-button"
          (click)="decrUsageCount()"
          class="flex-shrink-0 bg-blue-600 hover:bg-blue-800 inline-flex items-center justify-center rounded-md h-6 w-6 text-2xl"
        >
          -
        </button>
        <input
          type="text" 
          inputmode="numeric"
          pattern="[0-9]*"
          id="counter-input"
          class="flex-shrink-0 rounded-xl p-1 bg-transparent text-base max-w-[2.5rem] text-center focus:border"
          [value]="sneaker.usageCount"
          required
        />
        <button
          type="button"
          id="increment-button"
          (click)="incrUsageCount()"
          class="flex-shrink-0 bg-blue-600 hover:bg-blue-800 inline-flex items-center justify-center rounded-md h-6 w-6 text-2xl"
        >
          +
        </button>
      </div>
    </div>

    <!-- Distance Counter -->
    <div class="flex flex-col items-center space-y-1">
      <label class="text-sm font-medium mb-2">Current Distance :</label>
      <div class="flex items-center space-x-4">
        <button
          type="button"
          id="decrement-button"
          (click)="decrDistance()"
          class="flex-shrink-0 bg-blue-600 hover:bg-blue-800 inline-flex items-center justify-center rounded-md h-6 w-6 text-2xl"
        >
          -
        </button>
        <input
          type="text" 
          inputmode="numeric"
          pattern="[0-9]*"
          id="counter-input"
          class="flex-shrink-0 rounded-xl p-1 bg-transparent text-base max-w-[3rem] text-center focus:border"
          [(ngModel)]="sneaker.currentDistance"
          (change)="inputDistance()"
          required
        />
        <button
          type="button"
          id="increment-button"
          (click)="incrDistance()"
          class="flex-shrink-0 bg-blue-600 hover:bg-blue-800 inline-flex items-center justify-center rounded-md h-6 w-6 text-2xl"
        >
          +
        </button>
      </div>
    </div>
  </div>
</div>



<div class="px-16 pb-8 text-base">
  <div class="pt-20 pb-8 text-sm text-center">
    <button
      type="button" 
      (click)="setTargetDistance()"
      class="bg-green-600 rounded-lg font-semibold border-2 border-green-800 px-4 py-2 
             hover:bg-green-700 hover:border-green-500 transition ease-in-out duration-200
             shadow-lg"
    >
      Set Target Distance to Well Spent
    </button>
  </div>
  <app-price-overview [sneaker]="sneaker"></app-price-overview>
</div>

<div class="flex items-center justify-center mt-2 mb-8">
  <!-- <app-save-sneaker></app-save-sneaker> -->
  <app-delete-sneaker [id]="id"></app-delete-sneaker>
</div>
