<app-back-icon></app-back-icon>

<div class="p-4 pt-16 px-12 text-xl">
  <div class="flex justify-between items-center">
    <h1 class="font-extrabold">{{sneaker.brand}}</h1>
    <h2 class="text-right text-sm">Purchased: dd/mm/yy</h2>
  </div>
  <h2 class="font-bold">{{sneaker.model}}</h2>
</div>

  <!-- Circular Progress and Counters -->
<div class="flex items-center justify-center space-x-12">
  <app-circle-progress [percentage] = "percentage">
    <div class="mt-4 text-sm items-center text-center pl-2">
      Distance : {{ sneaker.currentDistance }} / {{sneaker.targetDistance}}
    </div>
  </app-circle-progress>

  <div class="flex flex-col space-y-6">

    <!-- Usage Counter -->
    <div class="flex flex-col items-center space-y-1">
      <label class="text-sm font-medium mb-2">Usage Count :</label>
      <div class="flex items-center space-x-4">
        <button
          type="button" id="decrement-button" (click)="decrUsageCount()"
          class="flex-shrink-0 bg-blue-600 hover:bg-blue-800 inline-flex 
          items-center justify-center rounded-md h-6 w-6 text-2xl">
            -
        </button>
        <input
          type="number"
          id="counter-input"
          class="flex-shrink-0 rounded-xl p-1 bg-transparent text-sm max-w-[2.5rem] text-center focus:border"
          [value]="usageCount"
          required
        />
        <button
          type="button" id="increment-button"  (click)="incrUsageCount()"
          class="flex-shrink-0 bg-blue-600 hover:bg-blue-800 inline-flex items-center justify-center rounded-md h-6 w-6 text-2xl">
            +
        </button>
      </div>
    </div>

    <!-- Distance Counter -->
    <div class="flex flex-col items-center space-y-1">
      <label class="text-sm font-medium mb-2">Current Distance :</label>
      <div class="flex items-center space-x-4">
        <button
          type="button" id="decrement-button" (click)="decrDistance()"
          class="flex-shrink-0 bg-blue-600 hover:bg-blue-800 
          inline-flex items-center justify-center rounded-md h-6 w-6 text-2xl">
            -
        </button>
        <input
          type="number"
          id="counter-input"
          class="flex-shrink-0 rounded-xl p-1 bg-transparent text-sm max-w-[2.5rem] text-center focus:border"
          [(ngModel)]="distance"
          required
        />
        <button
          type="button" id="increment-button" (click)="incrDistance()"
          class="flex-shrink-0 bg-blue-600 hover:bg-blue-800 inline-flex 
          items-center justify-center rounded-md h-6 w-6 text-2xl">
            +
        </button>
      </div>
    </div>
  </div>

</div>

<div class="p-16 pb-8 text-sm">
  <app-price-overview [distance]="sneaker.currentDistance" [price]="sneaker.purchasedPrice"></app-price-overview>
</div>

<div class="flex items-center justify-center space-x-6">
  <app-save-sneaker></app-save-sneaker>
  <app-delete-sneaker [id]="id"></app-delete-sneaker>
</div>

