<app-back-icon></app-back-icon>

<div class="p-4 pt-16 px-12 text-xl">
  <div class="flex justify-between items-center">
    <h1 class="font-extrabold">Hoka</h1>
    <h2 class="text-right text-sm">Purchased: dd/mm/yy</h2>
  </div>
  <h2 class="font-bold">Clifton 9</h2>
</div>

  <!-- Circular Progress and Counters -->
<div class="flex items-center justify-center space-x-12">
  <app-circle-progress></app-circle-progress>

  <div class="flex flex-col space-y-6">

    <!-- Usage Counter -->
    <div class="flex flex-col items-center space-y-1">
      <label class="text-sm font-medium mb-2">Usage Count :</label>
      <div class="flex items-center space-x-4">
        <button
          type="button"
          id="decrement-button"
          (click)="decrUsageCount()"
          class="flex-shrink-0 bg-blue-600 hover:bg-blue-800 inline-flex items-center justify-center rounded-md h-6 w-6"
        >
          <svg
            class="w-2.5 h-2.5 text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 18 2"
          >
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16" />
          </svg>
        </button>
        <input
          type="number"
          id="counter-input"
          class="flex-shrink-0 rounded-xl p-1 bg-transparent text-sm max-w-[2.5rem] text-center focus:border"
          [value]="usageCount"
          required
        />
        <button
          type="button"
          id="increment-button"
          (click)="incrUsageCount()"
          class="flex-shrink-0 bg-blue-600 hover:bg-blue-800 inline-flex items-center justify-center rounded-md h-6 w-6"
        >
          <svg
            class="w-2.5 h-2.5 text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 18 18"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 1v16M1 9h16"
            />
          </svg>
        </button>
      </div>
    </div>

    <!-- Distance Counter -->
    <div class="flex flex-col items-center space-y-1">
      <label class="text-sm font-medium mb-2">Current Distance :</label>
      <div class="flex items-center space-x-4">
        <button
          type="button"
          id="decrement-button"
          (click)="decrDistance()"
          class="flex-shrink-0 bg-blue-600 hover:bg-blue-800 inline-flex items-center justify-center rounded-md h-6 w-6"
        >
          <svg
            class="w-2.5 h-2.5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 18 2"
          >
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16" />
          </svg>
        </button>
        <input
          type="number"
          id="counter-input"
          class="flex-shrink-0 rounded-xl p-1 bg-transparent text-sm max-w-[2.5rem] text-center focus:border"
          [(ngModel)]="distance"
          required
        />
        <button
          type="button"
          id="increment-button"
          (click)="incrDistance()"
          class="flex-shrink-0 bg-blue-600 hover:bg-blue-800 inline-flex items-center justify-center rounded-md h-6 w-6"
        >
          <svg
            class="w-2.5 h-2.5 text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 18 18"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 1v16M1 9h16"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>

</div>

<div class="p-16 pb-8 text-sm">
  <app-price-overview></app-price-overview>
</div>

<div class="flex items-center space-x-4 pl-8">
  <app-save-sneaker></app-save-sneaker>
  <app-delete-sneaker></app-delete-sneaker>
</div>

