<div class="fixed top-4 left-4">
    <button
    (click) ="goBack()"
      class="inline-flex items-center justify-center w-10 h-10 bg-transparent text-white rounded-full"
    >
      <svg 
        class="w-6 h-6" 
        fill="none" 
        stroke="currentColor" 
        stroke-width="2" 
        viewBox="0 0 24 24" 
        xmlns="http://www.w3.org/2000/svg"
      >
        <path 
          stroke-linecap="round" 
          stroke-linejoin="round" 
          d="M15 19l-7-7 7-7"
        ></path>
      </svg>
    </button>
  </div>