
<app-back-icon></app-back-icon>

<div class="p-4 pt-16 px-12 text-xl">
  <div class="flex justify-between items-center">
    <h1 class="font-extrabold">Hoka</h1>
    <h2 class="text-right text-sm">Purchased: dd/mm/yy</h2>
  </div>
  <h2 class="font-bold">Clifton 9</h2>
</div>

<!-- Main Content -->
  <!-- Circular Progress and Counters -->
<div class="flex items-center justify-center space-x-12">
  <!-- Circular Progress -->
  <div class="relative size-40">
    <svg class="size-full -rotate-90" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
      <!-- Background Circle -->
      <circle
        cx="18"
        cy="18"
        r="16"
        fill="none"
        class="stroke-current text-gray-300"
        stroke-width="3"
      ></circle>
      <!-- Progress Circle -->
      <circle
        cx="18"
        cy="18"
        r="16"
        fill="none"
        class="stroke-current text-blue-500"
        stroke-width="3"
        stroke-dasharray="100"
        [attr.stroke-dashoffset]="100 - percentage"
        stroke-linecap="round"
      ></circle>
    </svg>
    <div class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2">
      <span class="text-center text-2xl font-bold">{{ percentage }}%</span>
    </div>
    <div class="mt-4 text-sm items-center text-center pl-2">
      Distance : {{ distance }} / 500 km
    </div>
  </div>

  <!-- Counters -->
  <div class="flex flex-col space-y-6">
    <!-- Usage Counter -->
    <div class="flex flex-col items-center space-y-1">
      <label class="text-sm font-medium mb-2">Usage Count :</label>
      <div class="flex items-center space-x-4">
        <button
          type="button"
          id="decrement-button"
          (click)="decrUsageCount()"
          class="flex-shrink-0 bg-blue-600 hover:bg-blue-800 inline-flex items-center justify-center rounded-md h-6 w-6"
        >
          <svg
            class="w-2.5 h-2.5 text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 18 2"
          >
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16" />
          </svg>
        </button>
        <input
          type="number"
          id="counter-input"
          class="flex-shrink-0 rounded-xl p-1 bg-transparent text-sm max-w-[2.5rem] text-center focus:border"
          [value]="usageCount"
          required
        />
        <button
          type="button"
          id="increment-button"
          (click)="incrUsageCount()"
          class="flex-shrink-0 bg-blue-600 hover:bg-blue-800 inline-flex items-center justify-center rounded-md h-6 w-6"
        >
          <svg
            class="w-2.5 h-2.5 text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 18 18"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 1v16M1 9h16"
            />
          </svg>
        </button>
      </div>
    </div>

    <!-- Current Distance Counter -->
    <div class="flex flex-col items-center space-y-1">
      <label class="text-sm font-medium mb-2">Current Distance :</label>
      <div class="flex items-center space-x-4">
        <button
          type="button"
          id="decrement-button"
          (click)="decrDistance()"
          class="flex-shrink-0 bg-blue-600 hover:bg-blue-800 inline-flex items-center justify-center rounded-md h-6 w-6"
        >
          <svg
            class="w-2.5 h-2.5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 18 2"
          >
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16" />
          </svg>
        </button>
        <input
          type="number"
          id="counter-input"
          class="flex-shrink-0 rounded-xl p-1 bg-transparent text-sm max-w-[2.5rem] text-center focus:border"
          [(ngModel)]="distance"
          required
        />
        <button
          type="button"
          id="increment-button"
          (click)="incrDistance()"
          class="flex-shrink-0 bg-blue-600 hover:bg-blue-800 inline-flex items-center justify-center rounded-md h-6 w-6"
        >
          <svg
            class="w-2.5 h-2.5 text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 18 18"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 1v16M1 9h16"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="p-16 text-sm">
  <div
  class="bg-gray-800 shadow rounded-lg p-4 border border-gray-700 text-left">
    <p class="font-medium">Price :</p>
    <p class="font-semibold pt-4">{{ price | number }}</p>
  <hr class="my-2" />
  <div class="flex items-center space-x-4">
    <p class="font-medium">Price per KM :</p>
    <a routerLink="price-info">
      <svg class="w-5 h-5 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
        <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm9.408-5.5a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2h-.01ZM10 10a1 1 0 1 0 0 2h1v3h-1a1 1 0 1 0 0 2h4a1 1 0 1 0 0-2h-1v-4a1 1 0 0 0-1-1h-2Z" clip-rule="evenodd"/>
      </svg>
    </a>
  </div>
  <div class="flex items-center space-x-4 pt-4">
    <p class="font-semibold pr-8">{{ pricePerKM | number }}</p>
    <span
      *ngIf="pricePerKMCategory"
      [ngClass]="pricePerKMCategoryClass"
      class="px-2 py-1 rounded-lg text-xs font-bold"
    >
      {{ pricePerKMCategory }}
    </span>
  </div>
  </div>  
</div>




