<div class="p-4 pt-16 bg-gray-800 space-y-4">
    <h2 class="text-lg font-bold text-center">Price Per KM</h2>
    
    <!-- Responsive Wrapper -->
    <div class="overflow-x-auto">
      <table class="w-full table-auto text-sm min-w-[300px]">
        <thead>
          <tr>
            <th class="border whitespace-nowrap border-gray-600 px-2 py-1 bg-gray-100 dark:bg-gray-700 text-center">Well Spent</th>
            <th class="border whitespace-nowrap border-gray-600 px-2 py-1 bg-gray-100 dark:bg-gray-700 text-center">Decent Value</th>
            <th class="border whitespace-nowrap border-gray-600 px-2 py-1 bg-gray-100 dark:bg-gray-700 text-center">Overpriced</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border border-gray-600 px-2 py-1 text-center"> < Rp5000 </td>
            <td class="border border-gray-600 px-2 py-1 text-center"> Rp5000-Rp10000 </td>
            <td class="border border-gray-600 px-2 py-1 text-center"> > Rp10000 </td>
          </tr>
        </tbody>
      </table>
    </div>
  
<div class="text-sm p-2">
    <ul class="list-disc pl-5 space-y-4 text-sm text-gray-700 dark:text-gray-300">
        <li>
          <strong>Well Spent:</strong><br>
          <span>
            Shoes in this category have provided excellent value for 
            their cost and are now in the ideal zone to be retired or sold. 
            They have been fully utilized for their intended purpose, 
            ensuring you gained maximum benefit from your purchase.
          </span>
        </li>
        <li>
          <strong>Decent Value:</strong><br>
          <span>
            These shoes are decent in terms of value but may not yet 
            have reached their full potential. If retired or sold now, 
            you would recover a fair portion of their worth, though it is more
            recommended to continue using them to increase their cost-effectiveness.
          </span>
        </li>
        <li>
          <strong>Overpriced:</strong><br>
          <span>
            Shoes in this category have not provided sufficient value 
            for their cost. Retiring or selling them now would result in a loss, 
            making it advisable to continue using them 
            until they move to a more cost-effective zone.
          </span>
        </li>
      </ul>
      
</div>

